.tableWrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.entriesTable {
    display: table;
    width: 90%;
}
.entriesBody {
    display: table-row-group;
}
.headerRow {
    display: table-row;
    height: 40px;
    font-size: larger;
}
.entryRow {
    display: table-row;
}
.entry {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
